body {
    margin: 5% auto;
    background: #f2f2f2;
    color: #444444;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    text-shadow: 0 1px 0 #ffffff;
    margin-bottom: 4%;
    margin-left: 17.5%;
    margin-right: 17.5%;
}

code {
    background: white;
}


.tab { margin-left: 40px; }

a {
    border-bottom: 1px solid #444444;
    color: #444444;
    text-decoration: none;
}

a:hover {
    border-bottom: 0;
}

.hidden-link {
  color: inherit;
  text-decoration: inherit;
  border-bottom: inherit;
}

h1 {
    margin-bottom: 0;
    line-height: 1em;
}

h2 {
    color: #6c71c4;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

#nav {margin-top: 0px; line-height: 1;}
#nav a {border-bottom: none; color: #6c71c4; text-decoration: none}
#nav a:hover {border-bottom: 1px solid #6c71c4}
#nav {font-size: 75%}
#nav ul li { display: inline;}
#nav {overflow: hidden; margin: 0; }
#nav ul { list-style: none; padding: 0; margin-left: -3px}
#nav ul li:before { content: " | "; }

#bio {margin-top: 5%;}

footer {font-size: 75%}

#linktotop {color: #6c71c4; text-decoration: none; border-bottom: none;}
#linktotop:hover {border-bottom: 1px solid #6c71c4}

@media screen and (max-width: 600px) {
    body {
        margin-right: 15px;
        margin-left: 15px;
    }
}

hr {
    margin-top: 4%;
}

#copyright-info {
    float: left;
    margin-bottom: 7%;
}

#linktotop-parent {
    float: right;
}

h1 {
    font-size: 38px;
}